input{
    margin: 5px;
    font-size: 16px;
}

#kensaku{
    margin: auto 5px;
    font-size: 16px;
}

#serchimage-button{
  display: inline-block;
  padding: 0.3em 0.7em;
  text-decoration: none;
  font-size: 16px;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
  margin: 5px;
}
#serchimage-button:hover{
    background: #67c5ff;
    color: white;
}

#now-render{
    margin: auto 5px;
}

#addimage-button{
  display: inline-block;
  padding: 0.3em 0.7em;
  text-decoration: none;
  font-size: 16px;
  color: #85ffb4;
  border: solid 2px #85ffb4;
  border-radius: 3px;
  transition: .4s;
  margin: 5px;
  margin-left: auto;
  margin-right: 0;
}
#addimage-button:hover{
    background: #85ffb4;
    color: white;
}
